* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  background: #000;
}

/* MOBILE TEXT & IMAGE STYLES */

h1,
p {
  font-family: Assistant;
}

h1 {
  font-size: 2.5rem;
  color: #bbb;
  text-align: center;
}

p {
  font-size: 1.15rem;
  color: #bbb;
  margin: 1rem;
}

img {
  display: block;
  height: auto;
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
}

.mainText {
  padding-bottom: 2rem;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

/* MEDIA QUERIES FOR TABLETS */

@media (min-width: 600px) {

  body {
    max-width: 50%;
    margin: 0 auto;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  footer p {
    font-size: 1rem;
  }

}

/* MEDIA QUERIES FOR DESKTOP */

@media (min-width: 1200px) {

  body {
    max-width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .mainText {
    margin: 0 5rem 0 5rem;
    padding-bottom: 0;
  }

  footer p {
    font-size: 1rem;
  }

  /* div,
  .wrapper {
    border: red solid 1px;
  } */

  .content {
    position: fixed;
    width: 64%;    
  }

  .links {
    position: absolute;
    top: 2rem;
    right: 6%;
  }

  footer {
    padding: 0;
  }

  .wrapper {
    position: fixed;
    bottom: 1rem;
    width: 64%;    
  }

  img {
    height: auto;
    width: 100%;
    min-width: 20vw;
    max-width: 30vw;
    margin-bottom: 2rem;
    padding: 0;
  }

}