body {
  font-family: Noto Sans;
  background: #d3f5ec;
}

p {
  color: #3e8090;
}

a {
  color: #429cb2;
}

.lightText {
  color: #8ddcd4;
}

.seaFoam {
  color: #3ed4ae;
}

/* MOBILE (LARGE)*/

@media only screen and (max-width: 425px) {

  body {
    margin: 0 auto;
    width: 90vw;
  }

  h1, h2, h3 {
    text-align: center;
    color: #3e8090;
  }

  h1 {
    font-size: 34px;
  }

  h3 {
    margin-top: 4.5vh;
  }

  p {
    font-size: 16px;
  }

  .headerDesktop {
    display: none;
  }

  .headerMobile {
    width: 90vw;
    display: block;
    margin: 0 auto;
    padding-top: 3.2vh;
    padding-bottom: 0.5vh;
  }

  .bandPics, .starrySky {
    width: 90vw;
    padding-top: 1vh;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  section.quoteBox {
    box-sizing: border-box;
    width: 90vw;
    margin: 0 auto;
    text-align: right;
  }

  section.quoteBox p {
    font-size: 20px;
  }

  section.mainText p {
    color: #214149;
  }

  section.mainText {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  br.removeBreak {
    display: none;
  }

  section.gapTop {
    margin-top: 6vh;
  }

  #bigText p {
    font-size: 24px;
  }

  footer p {
    text-align: center;
    font-size: 12px;
  }

  hr {
    border-top: 1px solid #666;
    border-bottom: 1px solid #ccc;
  }

}

/* DESKTOP */

@media only screen and (min-width: 600px) {

.container {
  position: relative;
  width: 100vw;
  background: #7ad9ce;
  height: 116vh;
  z-index: -1;
}

.wave {
  position: absolute;
  height: 250px;
  width: 100vw;
  background: #7ad9ce;
  bottom: 0;
  z-index: -1;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 100%;
  z-index: -1;
}

.wave::before {
  width: 78.4%;
  height: 100%;
  background-color: #7ad9ce;
  right: -20%;
  top: 20%;
  z-index: -1;
}

.wave::after {
  width: 78.4%;
  height: 109%;
  background-color: #d3f5ec;
  left: -20%;
  top: 80%;
  z-index: -1;
}

  body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
  }

  .headerMobile {
    display: none;
  }

  .headerDesktop {
    display: block;
    margin: 0 auto;
    padding-top: 12vh;
  }

  .bandPics, .starrySky {
    padding-top: 1vh;
  }

  .starrySky {
    padding-bottom: 5vh;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  section.quoteBox {
    box-sizing: border-box;
    width: 30vw;
    margin: 0 auto;
    background: #bdf1e3;
    padding: 1vh 3vw 1vh 3vw;
  }

  section.mainText {
    margin: 0 auto;
  }

  section.quoteBox p {
    font-size: 24px;
    text-align: right;
  }

  section.mainText p {
    color: #214149;
    font-size: 20px;
  }

  section.mainText {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }

  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    font-size: 50px;
    color: #2c6876;
  }

  h2, h3 {
    line-height: 0.1em;
  }

  h2 {
    font-size: 44px;
    margin-top: 4.5vh;
    color: #21525e;
  }

  h3 {
    font-size: 26px;
    margin-bottom: 1.3em;
    color: #222;
  }

  #bigText p {
    font-size: 28px;
  }

  hr {
    display: none;
  }

  /* section.gridContainer div {
    border: 1px solid grey;
  } */

  .gridContainer {
    margin-top: 12vh;
    margin-left: 0.5vw;
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(136, 5vh);
  }

  .item-1 { grid-column: 1 / span 3; grid-row: 1 / span 6; }
  .item-2 { grid-column: 4 / span 3; grid-row: 2 / span 6; }
  .item-3 { grid-column: 7 / span 3; grid-row: 3 / span 6; }
  .item-4 { grid-column: 2 / span 7; grid-row: 11 / span 9; box-sizing: border-box; padding: 1.5em 2em 2em 2em; background: #99e7d3; }
  .item-5 { grid-column: 2 / span 3; grid-row: 22 / span 10; }
  .item-6 { grid-column: 6 / span 3; grid-row: 22 / span 10; }
  .item-7 { grid-column: 2 / span 7; grid-row: 37 / span 3; }
  .item-8 { grid-column: 2 / span 3; grid-row: 41 / span 13; }
  .item-9 { grid-column: 2 / span 3; grid-row: 54 / span 19; }
  .item-10 { grid-column: 6 / span 3; grid-row: 41 / span 13; }
  .item-11 { grid-column: 6 / span 3; grid-row: 54 / span 19; }
  .item-12 { grid-column: 2 / span 3; grid-row: 74 / span 13; }
  .item-13 { grid-column: 2 / span 3; grid-row: 87 / span 16; }
  .item-14 { grid-column: 6 / span 3; grid-row: 74 / span 13; }
  .item-15 { grid-column: 6 / span 3; grid-row: 87 / span 16; }
  .backgroundBlock { grid-column: 1 / span 9; grid-row: 35 / span 70; background: #99e7d3; z-index: -1; }
  .item-16 { grid-column: 2 / span 7; grid-row: 107 / span 16; margin-top: 0.5vh;}
  .item-17 { grid-column: 4 / span 3; grid-row: 124 / span 8; }
  .item-18 { grid-column: 2 / span 7; grid-row: 134 / span 3; }

  p.foot {
    background: #eafbf6;
    padding: 5px;
    width: 320px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }

}

/* MOBILE (SMALL)*/

@media only screen and (max-width: 365px) {

  h1 {
    font-size: 30px;
  }

}
