* {
  box-sizing: border-box;
}

:root {
  --ff-primary: Assistant;
  --bg-colour-primary: #f2e4cc;
  --bg-colour-secondary: #ef9853;
  --bg-colour-tertiary: #f7d8b3;
  --bg-colour-accent-light: #fffcf9;
  --bg-colour-accent-dark: #D1A887;
  --text-mobile-colour-primary: #000;
  --text-mobile-colour-secondary: #3D170C;
  --text-mobile-colour-accent-bold: #FF3C00;
  --text-mobile-colour-accent-blue: #0A6B96;
  --text-mobile-colour-accent-light: #fff;
  --text-desktop-colour-primary: ;
  --text-desktop-colour-secondary: ;
  --text-desktop-colour-tertiary: ;
  --text-desktop-colour-accent: ;
}

body {
  background: var(--bg-colour-primary);
}

/* MOBILE TEXT STYLES */

h1,
p,
li {
  font-family: var(--ff-primary);
  letter-spacing: 0.04rem;
}

h1 {
  font-size: 2.7rem;
  color: var(--text-mobile-colour-primary);
  text-align: center;
  padding-bottom: 1rem;
}

p {
  font-size: 1.15rem;
  color: var(--text-mobile-colour-secondary);
}

.quote p {
  text-align: right;
}

ul {
  padding: 0;
}

li {
  font-size: 1.5rem;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
  color: var(--text-mobile-colour-accent-blue);
}

.brightOrange {
  color: var(--text-mobile-colour-accent-light);
}

.terracotta {
  color: var(--text-mobile-colour-accent-bold);
}

/* MOBILE IMAGE STYLES */

.header-desktop {
  display: none;
}

.smudge-cropped, 
.polaroid-cropped {
  display: none;
}

img {
  display: block;
  height: auto;
  width: 95%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}

/* MOBILE TEXT FORMATTING */

.quote {
  background: var(--bg-colour-secondary);
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote p {
  text-align: right;
}

.mainText {
  padding: 0 1rem 0 1rem;
}

.mainText p {
  color: var(--text-mobile-colour-primary);
}

.bgDark {
  background: var(--bg-colour-accent-dark);
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgDark p {
  color: var(--text-mobile-colour-secondary);
}

footer {
  height: 2rem;
  width: 15rem;
  background: var(--bg-colour-accent-light);
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text-mobile-colour-accent-blue);
  text-align: center;
  font-size: 0.9rem;
}
