* {
  box-sizing: border-box;
}

:root {
  --ff-primary: Assistant;
  --bg-colour-primary: #d8b0e5;
  --bg-colour-secondary: #c783dd;
  --bg-colour-tertiary: #e4cdeb;
  --bg-colour-accent: #eee0f3;
  --bg-colour-button: #9400c5;
  --text-mobile-colour-primary: #000;
  --text-mobile-colour-secondary: #fff;
  --text-mobile-colour-tertiary: #ffd454;
  --text-mobile-colour-accent: #ff3b86;
  --text-desktop-colour-primary: #731d8f;
  --text-desktop-colour-secondary: #a833ce;
  --text-desktop-colour-tertiary: #e731c6;
  --text-desktop-colour-accent: #ff3b86;
}

body {
  background: var(--bg-colour-primary);
}

/* MOBILE TEXT STYLES */

h1,
p,
a {
  font-family: var(--ff-primary);
  letter-spacing: 0.04rem;
}

h1 {
  color: var(--text-mobile-colour-primary);
  font-size: 2.7rem;
}

h1 {
  text-align: center;
  padding-bottom: 1rem;
}

a.button {  
  background: var(--bg-colour-button);
  color: white;
  font-size: 1.5rem;
  text-decoration: none;

  width: max-content;
  height: 3rem;
  border-radius: 3rem;

  display: flex;  
  justify-content: center;
  align-items: center;
  
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 2rem;  
}

p {
  color: var(--text-mobile-colour-primary);
  font-size: 1.15rem;
}

.quote p {
  color: var(--text-mobile-colour-secondary);
  text-align: right;
}

.review p {
  color: var(--text-mobile-colour-accent);
}

span.accent {
  color: var(--text-mobile-colour-tertiary);
}

a {
  color: var(--text-desktop-colour-secondary);
}

/* MOBILE IMAGE STYLES */

.headerDesktop {
  display: none;
}

img {
  display: block;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
}

/* MOBILE TEXT FORMATTING */

.quote {
  background: var(--bg-colour-secondary);
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  background: var(--bg-colour-accent);
  width: 95%;
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.mainText {
  padding: 1rem;
}

footer {
  background: var(--bg-colour-accent);
  width: 15rem;
  height: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text-mobile-colour-accent);
  font-size: 0.9rem;
  text-align: center;
}

/* MEDIA QUERIES FOR TABLETS */

@media (min-width: 600px) {
  
  body {
    max-width: 50%;
    margin: 0 auto;
  }

}

/* MEDIA QUERIES FOR DESKTOP */

@media (min-width: 1200px) {

  body {
    max-width: 100%;
  }

  html {
    padding: 0;
    overflow-x: hidden;
  }

  /* DESKTOP IMAGE STYLES */

  .headerMobile {
    display: none;
  }

  .headerDesktop {
    display: inline-block;
    margin: 0 auto;
    width: clamp(50rem, 70%, 55rem);
    min-width: 0;
    max-width: none;
    min-height: 0;  
    padding: 0;
    padding-top: 2rem;
  }

  .imgHole {
    max-width: 30rem;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .imgSparkles1 {
    width: auto;
    height: auto;
    min-width: 100%;
    max-width: 200rem;
    min-height: 100%;
    padding: 0;
  }

  div {
    overflow: hidden;
  }

  .imgSparkles2 {
    max-width: 42rem;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  /* DESKTOP TEXT STYLES & FORMATTING*/  

  h1 {
    color: var(--text-desktop-colour-secondary);
    font-size: 3.3rem;
    margin-top: -5px;
    margin-bottom: 0;
    padding: 0;
    padding-top: 1rem;
  }

  a.button {
    position: relative;
    margin-top: clamp(3rem, 5.5%, calc(5rem + 10%))
  }

  p {
    color: var(--text-desktop-colour-primary);
    font-size: 1.15rem;
  }

  .quote p {
    color: var(--text-desktop-colour-secondary);
  }

  .review p {
    color: var(--text-desktop-colour-primary);
  }

  .quote p,
  .review p {
    font-size: 1.5rem;
  }

  .quote,
  .review {
    background: var(--bg-colour-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quote {
    width: 100%;
  }

  .review {
    width: 100%;
    padding: 0 2rem; 
  }

  div.quote,
  div.review {
    background: var(--bg-colour-tertiary);
  }

  p.textLarge {
    font-size: 1.75rem;
  }

  span.accent {
    color: var(--text-desktop-colour-accent);
  }

  span.textLight {
    color: var(--text-desktop-colour-tertiary);
  }

  span.textDark {
    color: var(--text-desktop-colour-primary);
  }

  .mainText {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainText p {
    width: clamp(20%, 50rem, 90%);
  }

  .bgDark {
    background: var(--bg-colour-secondary);
  }

  footer {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  /* HEADER LAYOUT */

  div.headerImage {
    text-align: center;
  }

  .skewed {
    background: var(--bg-colour-secondary);
    position: absolute;
    inset: 0;
    width: 100%;
    height: clamp(53rem, 95%, calc(50rem + 10%));
    transform: skewY(-6deg);
    transform-origin: top left;
    overflow: visible;
  }

  div.headerImage,
  a.button {
    transform: skewY(6deg);
    transform-origin: top left;
  }

  /* GRID LAYOUT */

  .gridContainer {
    width: clamp(30%, 100%, 150rem);
    margin: 0 auto;
    margin-top: 52rem;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(117, 2rem);
  }

  /* div {
    border: 1px solid grey;
  } */ 

  .item-1 { grid-column: 12 / span 6; grid-row: 1 / span 9; }    /* And the sky was made of... */
  .item-2 { grid-column: 5 / span 11; grid-row: 11 / span 4; }    /* Hole recorded the... */
  .item-3 { grid-column: 5 / span 11; grid-row: 16 / span 12; }   /* .imgHole */
  .item-4 { grid-column: 5 / span 11; grid-row: 28 / span 7; }    /* The release of the album... */
  .item-5 { grid-column: 4 / span 6; grid-row: 37 / span 13; }    /* .imgSparkles1 */
  .item-6 { grid-column: 11 / span 6; grid-row: 37 / span 13; }   /* Might last a day... */
  .item-7 { grid-column: 5 / span 11; grid-row: 52 / span 4; }    /* Live Through This spawned... */
  .item-8 { grid-column: 4 / span 6; grid-row: 58 / span 11; }    /* Its lyrics juxtaposed... */
  .item-9 { grid-column: 11 / span 6; grid-row: 59 / span 9; }    /* And the sky was all violet... */
  .item-10 { grid-column: 1 / span 19; grid-row: 71 / span 16; }  /* .imgSparkles2 */
  .item-11 { grid-column: 7 / span 7; grid-row: 88 / span 11; }  /* Go on, take everything... */
  .item-12 { grid-column: 5 / span 11; grid-row: 100 / span 4; }   /* Recording for... */
  .item-13 { grid-column: 7 / span 7; grid-row: 105 / span 8; }   /* Go on, take EVERYTHING... */
  .item-14 { grid-column: 8 / span 5; grid-row: 115 / span 1; }  /* footer */
  
  .backgroundBar1 { grid-row: 8 / span 10; }
  .backgroundBar2 { grid-row: 32 / span 22; }
  .backgroundBar3 { grid-row: 97 / span 10; }

  .bg {
    background: var(--bg-colour-accent);
    grid-column: 1 / span 19;
  }

  div {
    z-index: 1;
  }

  .indexZero, .bg {
    z-index: 0;
  }

}